@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Sedgwick+Ave';
.navHead{
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
  background-color: rgba(213, 186, 218, 0.79);;

}
table{
  border:3px solid black;
  background-color: pink;
}
th {
  border:3px solid black;
  background-color: #8a74b1;

}
td{
  border:3px solid black;
  background-color: #d9bede;
}
#salmon{
  width : 30%;
  position: relative;
  left: 1%;
  top:1%;
}
#family{
  width: 40%;
  display: block;
  text-align: center;
  vertical-align: middle;


}
#buy{
  display: inline-block;
  position: relative;
  left: 60%;
  color: red;
  font-weight: bolder;

}
#tshirt{
display: inline-block;
position: relative;
left: 30%;
width: 10%;
bottom: 60%;
text-align: center;

}
body{
background-image: url(rain.jpg);
background-size: cover;
}
.bottom{
  position: relative;
  background-image:
  background-repeat: no-repeat;
  background-size: 300px 150pxs;
}

.home{
  text-align: center;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif;
  padding-top: :1%;
  background-color: rgba(213, 186, 218, 0.79);
  font-weight: 900;
}
.locations{
  display: inline-block;
  text-align: center;
  position: relative;
  left: 18%;

}
#fish{
  width: 28%;
}
#frosted{
  display: inline-block;
  position: relative;
  left:40%;
  width: 35%;
}
.hours{
bottom: 10%;
text-align: left;
background-color: rgba(213, 186, 218, 0.79);
display: inline-block;
width: 30%;
}
.contact{
  display: inline-block;
  text-align: right;
}
