@import 'https://fonts.googleapis.com/css?family=Oswald';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Sedgwick+Ave';
.navHead{
  text-align: center;
  font-family: 'Zilla Slab Highlight', cursive;
  background-color: rgba(247, 204, 159, 0.79);

}
.navHead h1{
  top: 10px;
}
table{
  border:3px solid black;
  background-color: pink;
}
th {
  border:3px solid black;
  background-color: #8a74b1;

}
td{
  border:3px solid black;
  background-color: #d9bede;
}
#salmon{
  width : 30%;
  position: relative;
  left: 1%;
}
.home p {
  margin-top: 0;
}
#family{
width: 45%;
position: relative;
text-align: center;
display: inline-block;
left: 27%;
top:

}

.buyMe{
display: inline;
position: relative;
bottom: 10px;
text-align: left;
right: 600px;

}
body{
background-image: url(autumn.jpg);
width: 100%;
background-repeat: no-repeat;
background-size: cover;
}
.bottom{
  position: relative;
  background-image:
  background-repeat: no-repeat;
  background-size: 300px 150pxs;
}

.home{
  text-align: center;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif;
  padding-top: :1%;
  background-color: rgba(247, 204, 159, 0.79);
  font-weight: 900;
}

.locations{
  display: inline;
  text-align: center;
  position: relative;
  left: 10px;
  top: -250px;

}
.fishLocations{
  display: inline;
}

.cutter{
    display: inline;
    width: 15%;
    position: relative;
    top: -523px;
    left: 55%;
}
.frosted{
  display: inline;
  position: relative;
  width: 55%;
  bottom: 315px;
  left:40%;
}

.blueFish{
    position: relative;
    display: inline-block;
    width: 25%;
}

.hours{
text-align: left;
background-color: rgba(213, 186, 218, 0.79);
display: inline-block;
width: 100%;
margin:0px;
}
#sell{
  display: inline-block;
  position: relative;
  bottom: 10px;
  text-align: left;
  right: 550px;
  line-height: 1.9em;
  color: blue;
}
